//Colors:
$darkbrown: #4b2f16;
$lighterbrown: #785534;
$lighterstbrown: #b18860;
$nude: #e3ccb1;
$black: #25170a;
$white: #f5e0ca;

//Fonts:
$raleway: 'Raleway', sans-serif;
$noto: 'Noto Sans JP', sans-serif;

//screen sizes:
$small: 360px;
$medium: 576px;
$large: 768px;